.bgImg {
 // position: relative;
  background: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/header.jpg');
  /* Set rules to fill background */
  min-height: 800px;
  min-width: 100%;

  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;



  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/header.jpg');
    opacity: .6;
  }
}


.searchBox {
  padding: 20% 0;
}
.search-bar {
  padding: 20px 10px 10px 10px;
  margin: 0 auto;
  background: rgba(0, 0, 0, .5);
  width: 50%;
}
.form-control {
  width: 80%;
  float: left;
  margin:0 10px 0 0;
}
.search-bar .btn {
  width: 16%;
  float: left;
}
